
@use '../../util/util';
@use '../../typography/typography' as font;


.list__text {
    margin-left: 8%;
}

.list__item {
    margin-bottom: 1.5rem;
}

.btn-update {
    display: flex;
    justify-content: flex-end;
}

.item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.misc-wrapper {
    width: 100%;

    display: flex;
    align-items:  center;
}

.img-wrapper {
    position: relative;
    width: 64px;
    height: 64px;
}

