
@use '../../util/util';
@use '../../typography/typography' as font;

@use './cart-icon';
@use './cart-header';
@use './cart-list';
@use './cart-footer';

@use './update-cart';

.head_level-3 {
    @include font.h6;
    font-size: 0.938rem;
}

.paragraph {
    @include font.body;
    text-transform:  uppercase;
    font-weight: 700;
}

.cart__dropdown {
    position: absolute;
    border-radius: 8px;

}

.dropdown {
    background-color: util.$white;
    padding: 1.75rem;
    max-width: 375px;
    min-width: 257px;

    position: absolute;
    right: 0;
    left: 0;
    top: calc(100% + 1.5rem);

    @media (min-width: 481px) {
	width: 100%;
	left: unset;
    }

    z-index: 2;
}

