
@use '../../util/util';
@use '../../typography/typography' as font;

.head_level-2 {
    @include font.h3;
    text-transform: capitalize;
}

.label {
    @include font.body;
    opacity: 1;
    font-weight: 700;
    width: 100%;
}

.value {
    @include font.body;
}

.delivery-sum {
    padding: 2rem;
    overflow: hidden;

    position: relative;
}

.delivery-sum__head {
    margin-bottom: 1.25rem;
}

.delivery-sum__body > div {
   display: flex; 
    margin-top: 0.75rem;
    flex-wrap: wrap;
}

.delivery-sum__body .value {
    margin-left: 1rem;
}


.delivery-sum__body > .bar-1,
.delivery-sum__body > .bar-2 {
    margin: 0;
    opacity: 0.5;
}


.bar-1 {
    background-color: util.$dark-orange;
    padding-top: 4px;
    width: 100%;

    position: absolute;
    top: 4.75rem;
    left: 0;
    z-index: 0;
}

.bar-2 {
    background-color: util.$dark-orange;
    padding-right: 4px;
    height: 100%;

    position: absolute;
    top: 0.15rem;
    right: 4.75rem;
    z-index: 0;
}
