
@use '../../util/util';
@use '../../typography/typography' as font;

.head_level-2 {
    @include font.h5;
    letter-spacing: 0.036em;
    line-height: 1.5em;
}

.head_level-3 {
   @include font.h5; 
}

.img-wrapper {
    @include util.img-radius;
    position: relative;
    padding-bottom: 36.7%;
}

.recommend,
.recommend__body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.recommend__head {
    margin-bottom: 2.5rem;
}

.recommend__img {
    margin-bottom: 2rem;
}

.recommend__subtitle {
    margin-bottom: 2rem;
}

.recommend__product {
    margin-bottom: 3.5rem;
}

.recommend__btn {
    width: fit-content;
    margin: 0 auto;
}

@media (min-width: util.$tablet) {

    .recommend__body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 0.7rem;
    }

    .recommend__product {
	margin: 0;
    }

    .img-wrapper {
	padding-bottom: 142.6%;
    }
}

@media (min-width: util.$desktop) {

    .recommend__body {
	grid-column-gap: 1.8rem;
    }

    .img-wrapper {
	padding-bottom: 90.86%;
    }

}
