
@use '../util/util';
@use '../typography/typography' as type;

.btn_reset {
    all: unset;
}

.btn {
    display: block;
    padding: 0.72rem 1.89rem;
    cursor:  pointer;
}

.btn-text {
    @include type.sub-title;
    text-align: center;
}

