
@use '../util/util';

.image-wrapper_cart {
    margin-bottom: 2px;
    border: none;
    background-color: util.$black;
    cursor: pointer;
    padding: 0;

    position: relative;
    z-index: 1;
}

.cart-status {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color:  util.$dark-orange;

    position: absolute;
    top: -2px;
    right: 0;
    z-index: 1;
}

