
@use '../util/util';

.menu {
    background-color: util.$white;
    border-radius: util.$radius;

    display: grid;
    width: 100%;
    grid-template-rows: 5.25rem auto 4.25rem auto 4.25rem auto 2.25rem;
    @include util.g-col-sp-mob;

    grid-template-areas:
	". . ."
	"head head head"
	". . ."
	"speak speak speak"
	". . ."
	"ear ear ear"
	". . .";

    @include util.extension;
}

.menu__item-1 {
    grid-area: head;
}

.menu__item-2 {
    grid-area: speak;
}

.menu__item-3 {
    grid-area: ear;
}

@media (min-width: util.$tablet) {

    .menu {
	grid-template-rows: 6.75rem 1fr 4.15rem;
	/* grid-template-columns: 2.5rem repeat(2, auto 0.75rem) auto 2.5rem; */
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 0.7rem;
	
	/* grid-template-areas:
	   ". . . . . . ."
	   ". head . speak . ear ."
	   ". . . . . . ."; */
	grid-template-areas:
	    ". . ."
	    "head speak ear"
	    ". . .";


    }

   
}
