
@use '../util/util';



.mobile-nav__menu {
    position: absolute;
    margin-top: util.$btm-header-spacing; 
    
}

.burger {
    border: none;
    background-color: util.$black;
    cursor: pointer;
    padding: 0;
}
