
@use '../util/util';

.btn_back {
    padding: 0;
    opacity: 0.55;
}

.btn_back:hover,
.btn_back:focus {
    color: util.$dark-orange;
    opacity: 1;
}

.nav-back {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

