
@use '../util/util';
@use '../typography/typography' as font;


.ship-form {
    display: flex;
    flex-direction: column;
}

.ship-form > div {
    display: flex;
    flex-direction: column;
}

.form__label {
    margin-bottom: 0.65em;
}

.form__input {
    margin-bottom: 1.5rem;
}

.label {
    font-size: 0.75;
    font-weight: 700;
}

.input {
    border: 1px solid #CFCFCF;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 500;

    padding: 1.32em 1.71em;

}

.input::placeholder {
    font-size: 0.875rem;
    color: util.$black;
    opacity: 0.4;
   
}

.input:focus {
    border: 1px solid util.$dark-orange;
    caret-color: util.$dark-orange;
    outline: 0;
   
}
