
@use '../../util/util';
@use '../../typography/typography' as font;

@use '../summary';

.ship-form {
    display: flex;
    flex-direction: column;
}

.ship-form > div {
    display: flex;
    flex-direction: column;
}

.form__label {
    margin-bottom: 0.65em;
}

.form__input {
    margin-bottom: 1.5rem;
}

.form__head {
    margin-bottom: 1rem;
}

.form__fieldset {
    margin-bottom: 1.5rem;
}

.label {
    font-size: 0.75rem;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
}

.input,
.country > select {
    border: 1px solid #CFCFCF;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 500;

    padding: 1.32em 1.71em;

}

.country > select {
    margin-bottom: 2rem;
}

.country__body {
    margin-bottom: 2rem;
    font-style: italic;
    text-transform: none
}

.input::placeholder {
    font-size: 0.875rem;
    color: util.$black;
    opacity: 0.4;
}

.input:focus {
    border: 1px solid util.$dark-orange;
    caret-color: util.$dark-orange;
    outline: 0;
}

.custom-select * {
    cursor:  pointer;
}

.fieldset {
    padding: 0;
    border: none;
}


.error-input,
.error-input:focus {
   border: 2px solid util.$dark-red; 
}

.error-label {
    color: util.$dark-red;
    font-size: 12px;
    font-weight: 500;
   
}
