
@use '../../util/util';


.container {
    display: flex;
    justify-content: center;
}

.cir {
    padding: 2.5px;
    border-radius: 50%;
    background-color: black;
}

.inner {
    padding: 4px;
    border-radius:  50%;
    background-color: util.$dark-orange;
}

.box > div,
.final > div {
    padding-top: 5.5px;
    min-width: 60px;
    margin: 0 6px;
}

.box > div:nth-child(2) {
    border-top: 1.5px solid util.$dark-orange;
}

.fin-cir {
    background-color: util.$gray;
}

.final > div:nth-child(2) {
    border-top: 1.5px solid util.$gray;
}

