
@use '../util/util';
@use '../typography/typography' as font;

.chatHolder {
    border-radius: 8px;
    height: 65vh;
    min-width: 275px;
    max-width: 410px;

    display: flex;
    flex-direction: column;

    box-shadow: 0px 9px 32px -6px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px 9px 32px -6px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 9px 32px -6px rgba(0,0,0,0.59);
}

.chatHeader {
    background-color: util.$black;
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.logoWrap {
    padding: 1.5rem 1.5rem 1rem;
}

.chatText {
    background-color: util.$white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);

    height: 80%;
    padding: 1.5rem;

    display: flex;
    flex-direction:  column;
    align-items:  flex-end;

    overflow: scroll;
}

.message {
    @include font.body;
    font-size: 0.825rem;

    border-radius: 8px 0 8px 8px;
    background-color: util.$off-black;
    color: util.$gray;
    opacity: 1;

    padding: 0.85em 1.2em;
    /* margin-bottom: 1rem; */
}

.other {
    background-color: #dadada;
    border-radius: 0 8px 8px 8px;
    color: util.$off-black;

    align-self:  flex-start;
}

.author {
    @include font.body;
    font-size: 0.75rem;
    margin-right: 4px;
    
}

.care {
    align-self:  flex-start;
    margin-left: 4px;
}

.form {
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    background-color: util.$white;
    padding: 0 1.5rem 0 0;

    display: flex;
}


.textarea {
    border-radius: 0 0 0 8px;
    border: none;

    @include font.body;
    opacity: 1;
    padding: 1.5rem 0 1.5rem 1.5rem;
    width: 100%;

    resize: none;
    word-wrap: break-word;
    background-color: util.$white;
}

.button {
    background-color: util.$white;
    border: none;
    border-radius: 0 0 8px 0;

    padding: 0;
    height: 100%;

    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
}

.outline {
    border-bottom: 4px solid util.$dark-orange;
    width: 100px;
    margin-left: 1.5rem;
}


.planeWrap > svg {
    fill: util.$off-black;
}
