
@use '../util/util';


.page {
    display: grid;
    grid-template-rows: repeat(3, auto);
   @include util.g-col-sp-mob;

    grid-template-areas:
	". header ."
	"main main main"
	". footer .";

    width: 100vw;
    max-width: 1440px;
    overflow-x: hidden;

   @media (min-width: util.$desktop) {
   overflow-x: unset;
   }

}

.pageHeader {
    grid-area: header;
}

.pageFooter {
    grid-area: footer;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    grid-area: main;
    justify-content: center;
    align-items:  center;
}


.grid {
    display: grid;
    grid-template-rows: 7rem auto 2rem auto 2rem auto 5rem;
    grid-template-columns: 1.5rem auto 1.5rem;

    grid-template-areas:
	". . ."
	". step ."
	". . ."
	". sum ."
	". . ."
	". form ."
	". . .";

    width: 500px;
}

.gridStepper {
    grid-area: step;
}

.gridSummary {
    background-color: util.$off-white;
    padding: 20px;

    grid-area: sum;
}

.gridForm {
    border-radius: 8px;
    padding: 20px;
    background-color: util.$off-white;

    grid-area: form;
}
