
@use '../util/util';

.page {
    max-width: 1440px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    @include util.g-col-sp-mob;

    grid-template-areas:
	". header ."
	"main main main"
	". footer ."
	

}

.main {
    display: grid;
    grid-template-rows: repeat(2, auto) 2rem auto 4rem auto 4rem;
    @include util.g-col-sp-mob;

    grid-template-areas:
	". hero  ."
	". p-nav ."
	". . ."
	"ft ft ft"
	". . ."
	". about ."
	". . ."
}

.ftProd {
   display: grid;
    grid-auto-rows: auto;
    @include util.g-col-sp-mob;
    grid-row-gap: 1.5rem;

    grid-template-areas:
	". ft-1 ."
	". ft-2 ."
	". ft-3 ."
}

.pageMain {
    grid-area: main;
}

.pageHeader {
    grid-area: header;
}

.pageFooter {
    grid-area: footer;
}

.mainHero {
    grid-area: hero;
}

.mainProductNav {
    grid-area: p-nav;
}

.mainFtProd {
   grid-area: ft; 
}

.mainAbout {
    grid-area: about;
}

.ftProdA {
    grid-area: ft-1;
}

.ftProdB {
    grid-area: ft-2;
}

.ftProdC {
    grid-area: ft-3;
}
