
@use './util/util';

html {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:  center;

    @media (min-width: util.$desktop) {
	overflow-x: hidden;
    }

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'typography/typography';

@import 'elements/elements.exports/elements.exports';
@import 'components/components.exports/components.exports';


@import 'util/util';

.overlay {
    background-color: #000;
    opacity: 0.65;

    height: 100vh;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 1;

    display: none;
    @include util.extension;
}
