
//header
//hero
//product-nav
//feature-1
//feature-2
//feature-3
//about
//footer

.page {
    display: grid;
    grid-template-rows:
	repeat(3, auto) 2rem repeat(2, auto 1.5rem)
	auto repeat(2, 4em auto);
    grid-template-columns: 1.5rem 1fr 1.5rem;
}
